<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunsoft.zyebiz.b2e">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".application.MyApplication"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--闪屏页-->
        <activity android:name="com.sunsoft.zyebiz.b2e.mvp.registered.RegisteredActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录页-->
        <activity
            android:name=".mvp.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysVisible">
        </activity>
        <!--有无网络和刷新页面-->
        <service android:name=".common.net.checkNet.NetAndRefreshService"></service>
        <!--引导页-->
        <activity android:name="com.sunsoft.zyebiz.b2e.mvp.guide.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            ></activity>
    </application>


</manifest>